html {
    font-size: 16px;
}

body {
    font-family: serif;
    line-height: 19px;
}

#menusection {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: #318CE7;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(assets/BlueGeometry.png);

}

#menusection * {
    font-size: 16px;
}

#contentsection {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(100vw - 200px);
    overflow: auto;

}

#menuheader {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    text-transform: uppercase;
    margin: 10px 5px;
    padding: 15px 0;
    border: 10px double #d6e9ff;
}

#menuheader h2 {
    font-size: 30px;
    margin: 0;
    color: #d6e9ff;
    font-family: "Trebuchet MS", sans-serif;
    letter-spacing: 3px
}

.menuActive {
    background-color: lightblue;
}

.p-menu .menuActive .p-menuitem-link:not(.p-disabled):hover {
    background-color: #E4F6F8;
}

.contentWrapper {
    width: 80%;
    margin: auto;
    margin-top: 50px;

}

#introductionPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#introductionImage {
    width: 300px;
    margin-top: 100px;
    border: 10px ridge;
        color: #D1EAF0;
        width: 600px;
        height: 467px;
}

#introductionBody {
    flex-grow: 1;
    text-align: justify;
    margin-left: 100px;
}

.titleText {
    text-align: center;
}

.ingressText {
    font-size: 1.1rem;
    color: #777;
    letter-spacing: 1px;
    margin-bottom: 35px;
    text-align: center;
}

.experienceItemWrapper {
    margin-bottom: 30px;
    text-align: center;
}

.experienceYear {
    margin-top: -15px;
    margin-bottom: 15px;
    text-align: center;
    font-style: italic;
}

.experienceItemHeader {
    margin-top: -3px;
}

.proficiencyPanel {
    margin-bottom: 15px;

}

.proficiencyCard {
    margin-bottom: 5px

}

.experienceDesc {
    margin-top: 15px;
    font-family: Georgia, serif;
    text-align: justify;
}
